@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.nav__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 4em;
}

.nav__bar__logo {
    display: flex;
    align-items: center;
    gap: .6em;
    cursor: pointer;
}

.nav__bar__logo img {
    width: 2em;
    height: 2em;
}

.nav__bar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2em;
}

.nav__bar ul li {
    transition: all 1s ease;
}

.nav__bar ul .active {
    border-bottom: 2px solid #5446D1;
}



/* main  */
main {
    width: 90%;
    margin: auto;
}


.main__container {
    padding: 2em;
}

.introduction__content {
    display: flex;
    flex-direction: column;
    padding: 4em 0;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.introduction__content span {
    width: 80%;
}

button {
    padding: .8em 2em;
    cursor: pointer;
    color: #fff;
    border: none;
    outline: none;
    /* background: #6559D5; */
    background: #5446D1;
    margin-top: 3em;
    border-radius: 4px;
}


/* about  */

.members {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
}

.member__card {
    border: 2px solid #5446D1;
    border-radius: 4px;
    padding: 1em;
    width: 24%;
}

.member__card h1 {
    text-align: center;
    font-size: 12px;
    margin-bottom: 1em;
    font-weight: bolder;
}

.member__card p {
    margin-bottom: .6em;
}

.member__card p span {
    font-weight: bold;
    margin-right: 1em;
    font-size: 12px;
}

.contact__us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    margin-top: 2em;
    width: 34%;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 4px;
}


.form__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
    padding: .5em 0;
}

.contact__us label {
    display: block;
    font-size: 14px;
    margin-bottom: .3em;
}

.contact__us input,
textarea {
    width: 100%;
    outline: none;
    padding: .5em;
    border: 1px solid #000;
    border-radius: 4px;
}

.contact__us input:focus,
textarea:focus {
    border: 1px solid #5446D1;
}

textarea{
    resize: none;
    height: 100px;
}

.contact__us button {
    width: 100%;
    margin-top: 1em;
}